<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
	    <server>
          <id>github</id>
          <username>kmayer10</username>
          <password>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</password>
        </server>
    </servers>
</settings>
